<h2 class="label label-success">New Question</h2>

<form name="new_question_form" ng-submit="createQuestion()">
	<table>
		<tr>
			<td>Question:</td>
			<td>
				<input type="text" name="question_text" ng-model="question.question_text" required minlength="15" placeholder="must be 15+ characters">
			</td>
		</tr>

		<tr>
			<td>Correct Answer:</td>
			<td><input type="text" ng-model="question.correct_answer" required></td>
		</tr>
		<tr>
			<td>Fake Answer 1:</td>
			<td><input type="text" ng-model="question.fake_answer1" required></td>
		</tr>
		<tr>
			<td>Fake Answer 2:</td>
			<td><input type="text" ng-model="question.fake_answer2" required></td>
		</tr>
		<tr>
			<td>
				<input type="submit" class="btn btn-primary" value="Add Question">
			</td>
			<td>
				<a class="btn btn-primary" href="/#!/">Cancel</a>
			</td>
			
		</tr>
	</table>
</form>